@model Ebuy.Models.Cart
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Delete";
}

<h2 class="itemHeader">Delete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="myButton" />
            <p class="link">
                @Html.ActionLink("Go to cart", "Index", "Carts", new { buyerID = User.Identity.GetUserId() }, htmlAttributes: null)
            </p>
        </div>
    }
</div>
