@model IEnumerable<Ebuy.Models.Cart>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2 class="itemHeader">Cart</h2>

<table id="itemtable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
        <th></th>
    </tr>

    @{ var TotalPrice = 0; }

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
                @{ TotalPrice = TotalPrice + Int32.Parse(item.Item.Price); }
            </td>
            <td>
                <p class="link">
                    @Html.ActionLink("Remove from cart", "Delete", new { id = item.CartId })
                </p>
            </td>
        </tr>
    }
    <p>Total price = @TotalPrice</p>

</table>
<p class="link">
    @Html.ActionLink("Clear cart", "DeleteAll", new { userID = User.Identity.GetUserId() }, htmlAttributes: null)
</p>

<p class="link">
    @Html.ActionLink("Buy all", "BuyAll", new { userID = User.Identity.GetUserId() }, htmlAttributes: null)
</p>