@model IEnumerable<Ebuy.Models.Cart>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
        <th></th>
    </tr>

    @{ var TotalPrice = 0; }

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
                @{ TotalPrice = TotalPrice + Int32.Parse(item.Item.Price); }
            </td>
            <td>
                @Html.ActionLink("Remove from cart", "Delete", new { id = item.CartId })
            </td>
        </tr>
    }
    <p>Total price = @TotalPrice</p>

</table>
@Html.ActionLink("Clear cart", "DeleteAll", new { userID = User.Identity.GetUserId() }, htmlAttributes: null)
@Html.ActionLink("Buy all", "BuyAll", new { userID = User.Identity.GetUserId() }, htmlAttributes: null)
