<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "Index", "Items")</li>
                    @*   *@
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <li>
                            @*Link to my products, using Identity as a reference*@
                            @Html.ActionLink("My products",
                       "Index",
                       "Items",
                       new { title = User.Identity.GetUserId() },
                       htmlAttributes: null )
                        </li>

                        <li>
                            @*Link to BoughtItems->Index with Identity and "sold" as parameter*@
                            @Html.ActionLink("Selling history",
                         "Index",
                         "BoughtItems",
                         new { title = User.Identity.GetUserId(), value = "sold" },
                  htmlAttributes: null )
                        </li>
                        @*Link to BoughtItems->Index with Identity and "purchase" as parameter*@
                        <li>
                            @Html.ActionLink("Purchase history",
                                        "Index",
                                        "BoughtItems",
                                        new { title = User.Identity.GetUserId(), value = "purchase" },
                                        htmlAttributes: null )
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
