<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using Microsoft.AspNet.Identity


    <link href="~/Content/mainstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>

    <div id="wrapper">
        <div id="navbar">
            <ul id="navlist">
                <li> <i class="fab fa-product-hunt"></i> @Html.ActionLink("Products", "Index", "Items")</li>
                @*   *@
                @if (Request.IsAuthenticated)
                {
                @Html.AntiForgeryToken()
                <li>
                    <i class="fas fa-box-open"></i>  @Html.ActionLink("My products",
                    "Index",
                    "Items",
                    new { title = User.Identity.GetUserId() },
                    htmlAttributes: null)
                </li>
                <li><i class="fas fa-history"></i>
                    @*Link to BoughtItems->Index with Identity and "sold" as parameter*@
                    @Html.ActionLink("Selling history",
                    "Index",
                    "BoughtItems",
                    new { title = User.Identity.GetUserId(), value = "sold" },
                    htmlAttributes: null )
                </li>
                @*Link to BoughtItems->Index with Identity and "purchase" as parameter*@
                <li><i class="fas fa-history"></i>
                    @Html.ActionLink("Purchase history",
                    "Index",
                    "BoughtItems",
                    new { title = User.Identity.GetUserId(), value = "purchase" },
                    htmlAttributes: null )
                </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
        <div id="content">
            @RenderBody()

        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </div>

    <footer id="footer">

        <div id="footer-content">
            <p>&copy; @DateTime.Now.Year - Made with <i class="fas fa-heart"></i>, Welcome to Ebuy</p>
        </div>
        
    </footer>
</body>
</html>
